n8n/github_scan_workflow.json
{
    "name": "RedEye Security Scan (GitHub PR)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "webhook",
                "options": {}
            },
            "name": "GitHub Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://redeye-production.up.railway.app/scan",
                "method": "POST",
                "jsonParameters": true,
                "options": {},
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "target_url",
                            "value": "={{$json.body.repository.html_url}}"
                        }
                    ]
                }
            },
            "name": "Trigger RedEye Scan",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "issue",
                "operation": "createComment",
                "owner": "={{$node[\"GitHub Webhook\"].json.body.repository.owner.login}}",
                "repository": "={{$node[\"GitHub Webhook\"].json.body.repository.name}}",
                "number": "={{$node[\"GitHub Webhook\"].json.body.pull_request.number}}",
                "body": "=🚨 **RedEye Security Report** 🚨\n\n{{$json.agent_response}}"
            },
            "name": "Post GitHub Comment",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "GitHub Account"
                }
            }
        }
    ],
    "connections": {
        "GitHub Webhook": {
            "main": [
                [
                    {
                        "node": "Trigger RedEye Scan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger RedEye Scan": {
            "main": [
                [
                    {
                        "node": "Post GitHub Comment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}